body {
  background: radial-gradient(#ffc8c8, #ffffff) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bg-navbar {
  background-color: #b71c1c;
}
.navbar a {
  color: #ffaaaa !important;
}
.active {
  border-bottom: 2px solid rgb(236, 135, 135);
}
footer {
  background-color: #b71c1c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer p,
.fa-brands {
  color: #ffaaaa !important;
}
#content {
  animation-delay: 0.3s;
}
#mainName {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
#minorName {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
h2,
li {
  color: #560000;
  font-family: "Fira Sans", sans-serif;
}
