body {
  background: radial-gradient(#fd8888, rgb(255, 236, 236)) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bg-navbar {
  background-color: #7e0202;
}
.navbar a {
  color: rgba(255, 210, 210, 0.982) !important;
}
.active {
  border-bottom: 2px solid rgba(255, 210, 210, 0.982);
}
footer {
  background-color: #7e0202;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer p,
.fa-brands {
  color: rgba(255, 210, 210, 0.982) !important;
}
#content {
  animation-delay: 0.3s;
}
#mainName {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
#minorName {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
h2,
li {
  color: #560000;
  font-family: "Fira Sans", sans-serif;
}
